<!DOCTYPE html>
<html>
	<head>
	  <title>AUCS</title>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag "aucs-v2.css" %>
		<%= stylesheet_link_tag "posts.css" %>
		<%= favicon_link_tag 'fav.gif' %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>
		<div class="main container">

			<%= render 'layouts/nav' %>

			<div class="row">
				<div class="col-md-8">
					<%= yield %>
				</div>


				<div class="module-column col-md-4">
					<%= render 'layouts/next_event' %>
					<%= render 'layouts/twitter' %> 
				</div>
			</div>

			</div>
	  
		<%= render 'layouts/footer' %>"

	</body>
</html>
